table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ece7e7;
}

th {
    background-color: #fefefe;
    color: rgb(255, 255, 255);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.menu_Image {
    max-width: 50px;
    max-height: 50px;
}

html, body {
    background-color: rgb(9, 192, 73);
    color: rgb(244, 244, 249);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

nav a:link,
a:visited {
    color: #ddd;
    background-color: #0080ff;
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    display: inline-block;
    text-decoration: none;
    flex: 1 0 auto;
    text-align: center;
}

#content {
    width: 20%;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0.5em;
}

ol {
    width: 50%;
    margin: 20px auto;
    padding-left: 20px;
    font-size: 18px;
}
.Player_Link
{
    background-color: rgb(9, 192, 73);
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: darkblue;
    color: white;
}

.diff {
    width: 25%;
    margin: 1% 3%;
    display: inline-flex;
}
